{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book of Magnus</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "/css/tree.css" %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col">
            <h1>Horus Heresy Reading Order</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-4 m-3">
            <h5>Refine by:</h5>

            <form method="post">
                {% csrf_token %}

                <div class="form-check">
                    <input class="form-check-input" type="radio" onchange="searchCharacters(this)" id="character-radio" name="refine" checked>
                    <label class="form-check-label" for="character-radio">
                        Character
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" onchange="searchAffiliation(this)" id="affiliation-radio" name="refine">
                    <label class="form-check-label" for="affiliation-radio">
                        Faction
                    </label>
                </div>

                <!-- CHARACTER -->
                <div id="characterInput" class="form-group">
                    <input name="character" list="characters" class="form-control col-md-4">
                    <datalist id="characters">
                        {% for character in characters %}
                        <option value="{{ character.name }}">
                        {% endfor %}
                    </datalist>
                </div>

                <!-- AFFILIATION -->
                <div id="affiliationInput" class="form-group" style="display: none;">
                    <input name="affiliation" list="affiliations" class="form-control col-md-4">
                    <datalist id="affiliations">
                        {% for affiliation in affiliations %}
                        <option value="{{ affiliation.name }}">
                        {% endfor %}
                    </datalist>
                </div>

                <input type="submit" class="btn btn-dark">
                <button class="btn btn-secondary" onclick="window.location.href='/'">Reset</button>
            </form>
        </div>

        <div class="col m-3">
            {{ key |safe }}
        </div>
    </div>

    <div class="row-fluid">
        <div class="col">
            {{ svg |safe }}
        </div>
    </div>

    <!-- Book Info Modal -->
    <div class="modal fade" id="bookInfoModal" tabindex="-1" role="dialog" aria-labelledby="bookInfoModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookInfoModalTitle">Book Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Written by <span id="bookInfoModalAuthor"></span></h6>
                    <p><span id="bookInfoModalType"></span> <span id="bookInfoModalNumber"></span></p>
                    <h6>Follows:</h6>
                    <p><span id="bookInfoModalFollows"></span></p>
                    <h6>Precedes:</h6>
                    <p><span id="bookInfoModalPrecedes"></span></p>
                    <h6>Factions:</h6>
                    <p><span id="bookInfoModalFactions"></span></p>
                    <h6>The story</h6>
                    <p></p><span id="bookInfoModalBlurb"></span></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

    $( document ).ready(function() {
        $("g.node").on("click", function() {
            // Get the book ID from the ID
            var bookIdSplit = String($(this).attr('id')).split("-")
            var bookId = bookIdSplit[bookIdSplit.length - 1]

            // Get the URL
            var url = "/book/" + bookId;

            $.ajax({
                method: "GET",
                url: url,
            })
            .done(function(data) {
                // Display the data
                console.log(data);
                $("#bookInfoModalTitle").text(data["title"]);
                $("#bookInfoModalAuthor").text(data["author"]);
                $("#bookInfoModalType").text(data["type"].toLowerCase());
                $("#bookInfoModalBlurb").text(data["blurb"]);
                $("#bookInfoModalNumber").text(data["series_no"]);
                $("#bookInfoModalFollows").text(data["follows"].join(', '));
                $("#bookInfoModalPrecedes").text(data["precedes"].join(', '));
                $("#bookInfoModalFactions").text(data["factions"].join(', '));

                $("#bookInfoModal").modal("show")

            })
            .fail(function() {
                console.log("Failed to load book. I recognise my failing and will be sure to correct it");
            });

        });
    });

    function searchCharacters(x){
        if(x.checked){
            $("#characterInput").show();
            $("#affiliationInput").hide();
        }
    }
    function searchAffiliation(x){
        if(x.checked){
            $("#affiliationInput").show();
            $("#characterInput").hide();
        }
    }
</script>
</body>
</html>

