{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book of Magnus</title>


    <link rel="stylesheet" type="text/css" href="{% static "/css/tree.css" %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>


    <style>


</style>
</head>
<body>
<p>Hello, world. Books Page.</p>
<button onclick="window.location.href='/'">Reset</button>
<form method="post">
    {% csrf_token %}

    <!-- CHARACTER -->
    <input name="character" list="characters">
    <datalist id="characters">
        {% for character in characters %}
        <option value="{{ character.name }}">
        {% endfor %}
    </datalist>

    <!-- AFFILIATION -->
    <input name="affiliation" list="affiliations">
    <datalist id="affiliations">
        {% for affiliation in affiliations %}
        <option value="{{ affiliation.name }}">
        {% endfor %}
    </datalist>
    <input type="submit">
</form>


{{ svg |safe }}

<script>

</script>

</body>
</html>

