{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book of Magnus</title>

    <script src="https://d3js.org/d3.v5.min.js"></script>


    <style>
.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
</style>
</head>
<body>
<p>Hello, world. Books Page.</p>
<svg width="400" height="220">
    <g transform="translate(5, 5)">
      <g class="links"></g>
      <g class="nodes"></g>
    </g>
  </svg>
</body>

<script src="{% static "/js/loadBooks.js" %}"></script>

</html>

