{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book of Magnus</title>


    <link rel="stylesheet" type="text/css" href="{% static "/css/tree.css" %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>


    <style>


</style>
</head>
<body>
<p>Hello, world. Books Page.</p>
<svg width="1000" height="1000">
    <g transform="translate(5, 5)">
      <g class="links"></g>
      <g class="nodes"></g>
    </g>
  </svg>
</body>

<script src="{% static "/js/loadBooks.js" %}"></script>

</html>

