body {
  background-image: url("/static/images/paper-fibres.jpg");
  background-position: left top;
}


g.node[id*='main-book'] polygon {
  fill: white;
  stroke: white;

  stroke-linejoin: round;
}

g.node[id*='recommended-book'] polygon {
  fill: lightgrey;
  stroke: lightgrey;

  stroke-linejoin: round;
}




