body {
  background-image: url("/static/images/paper-fibres.jpg");
  background-position: left top;
}


g.node[id*='main-book'] polygon {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 3;
  stroke-linejoin: round;
}

g.node[id*='recommended-book'] polygon {
  fill: white;
  stroke: white;
  stroke-width: 3;
  stroke-linejoin: round;
}


.text-box {
    background: #f4ebd7;
}



