body {
  background-image: url("/static/images/ancient-antique-art-235985.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}



.text-box {
    background: #f4ebd7;
}



